form{
color:#000000;
font-weight:800;
}
#ch,#ch1{
color:#FF0033;
font-size:25px;
font-style:italic;
text-decoration:underline;
}
input{
border:2px #000000 solid;
border-radius:5px;
height:34px;
width:220px;
background:rgba(200,133,255,0.2)
}
a{
color:#0000CC;
font-weight:800;
}
#submit1{
border:2px #000000 solid;
background:rgba(0,0,0,0.8);
border-radius:8px;
height:35px;
width:230px;
letter-spacing:2px;
color:#FFFFFF;
font-weight:200;
cursor:pointer;
}
#submit1:hover{
background:rgba(255,255,255,0.8);
color:#000000;
transform:scale(1.1);
}
#submit2{
background:rgba(240, 24, 64,0.2);
}
#submit2{
width:230px;
background:rgba(0,0,0,0.8);
cursor:pointer;
color:#FFFFFF;
font-weight:200;
letter-spacing:1px
}
#submit2:hover{
background:rgba(255,255,255,0.8);
color:#000000;
transform:scale(1.1);
}