.table2{
border:2px #000000 solid;
}
.table2 th{
border-bottom:2px #000000 solid;
}
.table3{
border-right:2px #000000 solid;
}
.table5{
border-top:2px #000000 solid;
}
.foot
{
border-top:2px #000000 solid;
}
.bd{
background:url(../../project/all_920.png);
background-position:center;
background-size:cover;
}
.table2{
background:url(../../project/images.jpg);
background-position:center;
background-size:cover;
}
.table3{
background:rgba(86,227,235,0.6);
font-size:18px;
font-weight:800;
}
a{
color:#0000CC;
}